.div{
    background-color: aqua;
    width: 1550x;
    height: 90px;


}
.itens{
    text-align: center;
    align-content: center;
    display: inline-block;
    width: 120px;
    height: 40px;
    margin: 5px;
    background-color: red;
    color: white;
    border-radius: 6px;
    

}